/* tmp */

// $s-min: 20;
// $s-max: 70;
// $l-min: 30;
// $l-max: 90;
// @for $i from 1 through 5 {
// 	section:nth-child(#{$i}) {
// 		background-color: hsl(random(360), $s-min+random($s-max+-$s-min), $l-min+random($l-max+-$l-min));
// 	}
// }
// section {
// 	min-height: 100vh;
// }
/* Normalize.css fix */

* {
	outline: none;
	box-sizing: border-box;
}

/* My styles */

$zloty: #dbc56e;
$czarny: #404040;
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fefefe;
}

::-webkit-scrollbar-thumb {
	background: $zloty;
}

::-webkit-scrollbar-thumb:hover {
	background: $czarny;
}

@font-face {
	font-family: 'Arabia';
	src: url('../fonts/TRArabia.ttf') format('truetype');
}

@font-face {
	font-family: 'Scriptina';
	src: url('../fonts/ScriptinaPro.otf') format('opentype');
}

body {
	overflow-x: hidden;
	.js {
		#preloader,
		.load {
			display: block;
		}
	}
	@keyframes spin {
		0%,
		100% {
			transform: translate(0);
		}
		25% {
			transform: translate(160%);
		}
		50% {
			transform: translate(160%, 160%);
		}
		75% {
			transform: translate(0, 160%);
		}
	}
	#preloader {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background: #fff;
		.load {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100px;
			height: 100px;
			hr {
				border: 0;
				margin: 0;
				width: 40%;
				height: 40%;
				position: absolute;
				border-radius: 50%;
				animation: spin 2s ease infinite;
			}
			:first-child {
				background: $czarny;
				animation-delay: -1.5s;
			}
			:nth-child(2) {
				background: $zloty;
				animation-delay: -1s;
			}
			:nth-child(3) {
				background: $czarny;
				animation-delay: -0.5s;
			}
			:last-child {
				background: $zloty;
			}
		}
	}
	#to-top {
		display: block;
		position: fixed;
		bottom: 30px;
		right: 20px;
		z-index: 99;
		border: none;
		outline: none;
		background-color: #fff;
		color: $czarny;
		text-shadow: 0px 0px 0px $czarny;
		cursor: pointer;
		border-radius: 4px;
		opacity: 0.2;
		transition: none;
		font-size: 0px;
		padding: 0px;
		width: 0px;
		height: 0px;
		&.show {
			opacity: 0.7;
			width: auto;
			height: auto;
			font-size: 40px;
			padding: 5px;
			transition: all 1s;
			&:hover {
				color: $zloty;
				text-shadow: 0px 0px 0px $zloty;
				opacity: 1;
				transition: all 0.3s;
			}
		}
	}
	header {
		width: 100%;
		min-height: 100vh;
		background-image: url('../img/bg.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		nav {
			height: 160px;
			background-color: rgba(#fff, 0.75);
			transition: all 0.25s;
			&.small {
				height: 80px;
				background-color: rgba(#fff, 1);
				.brand-logo {
					img {
						height: 60px;
						margin-top: calc((80px - 60px)/2);
					}
				}
				.facebook {
					line-height: 0px;
					a {
						display: inline-block;
						margin: 5px 20px 10px 0px;
						img {
							height: 20px;
						}
					}
				}
			}
			.brand-logo {
				height: 100%;
				img {
					height: 120px;
					margin-top: calc((160px - 120px)/2);
					transition: all 0.25s;
				}
				&:hover {
					img {
						filter: contrast(120%);
					}
				}
			}
			.facebook {
				line-height: 10px;
				a {
					display: inline-block;
					margin: 20px;
					img {
						height: 50px;
						transition: all 0.25s;
					}
					&:hover {
						img {
							filter: contrast(120%);
						}
					}
				}
			}
			ul {
				li {
					padding: 0px 10px;
					a {
						color: $czarny;
						text-transform: uppercase;
						position: relative;
						font-size: 18px;
						line-height: 16px;
						padding: 8px;
						&:before {
							content: "";
							display: block;
							width: 0%;
							height: 1px;
							background-color: $czarny;
							position: absolute;
							left: 50%;
							bottom: 0px;
							transition: all 0.25s;
						}
						&.active {
							&:before {
								left: 0%;
								width: 100%;
							}
						}
					}
					&:hover {
						a {
							background-color: transparent;
							&:before {
								left: 0%;
								width: 100%;
							}
						}
					}
				}
			}
		}
		.navbar-fixed {
			height: 1px;
		}
		.header-text {
			width: 100%;
			height: calc(100vh - 1px);
			min-height: 768px;
			position: relative;
			div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: 220px;
			}
			h1 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 3.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 2px 2px 8px $czarny;
			}
			h2:nth-of-type(1) {
				font-family: 'Scriptina';
				color: #222;
				font-size: 4.5em;
				line-height: 1.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 0px 0px 1px $czarny;
			}
			h2:nth-of-type(2) {
				font-family: 'Scriptina';
				color: #222;
				font-size: 4.5em;
				line-height: 1.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 0px 0px 1px $czarny;
			}
		}
	}
	main {
		#onas {
			padding: 50px 0px;
			background: #fff;
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px $czarny;
			}
			.icons {
				text-align: center;
				.icon {
					margin: 20px 0px;
					&:hover {
						div:nth-child(1) {
							img {
								filter: contrast(120%);
							}
						}
					}
					div:nth-child(1) {
						img {
							height: 80px;
							transition: all 0.25s;
						}
					}
					div:nth-child(2) {
						font-size: 1.1em;
						margin: 10px 0px;
						text-transform: uppercase;
						font-weight: 500;
					}
					div:nth-child(3) {
						color: $czarny;
						font-size: 0.9em;
						font-weight: 300;
					}
				}
			}
		}
		#oferta {
			.blackbox {
				background: rgba(#000, 0.75);
				padding: 20px 40px;
			}
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px #fff;
			}
			ul {
				li {
					list-style-type: circle;
					list-style-position: inside;
				}
			}
			.row {
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				background-attachment: fixed;
				color: #fff;
				margin: 0px;
				&:nth-child(1) {
					background-image: url('../img/bg-oferta1.jpg');
				}
				&:nth-child(2) {
					background-image: url('../img/bg-oferta2.jpg');
				}
			}
		}
		#zapraszamy {
			padding: 40px;
			margin: 0px;
			p {
				font-size: 1.2em;
				font-weight: 300;
			}
		}
		.button {
			display: inline-block;
			background-color: $zloty;
			color: $czarny;
			padding: 10px 20px;
			&:hover {
				filter: contrast(120%);
			}
		}
		#promocje {
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			background-image: url('../img/bg-promocje2.jpg');
			background-attachment: fixed;
			color: $czarny;
			position: relative;
			padding: 20px 0px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				z-index: 0;
				background: rgba(#fff, 0.7);
			}
			.row {
				position: relative;
				z-index: 1;
				margin: 0px;
			}
			h1 {
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px $czarny;
				text-align: center;
				padding-bottom: 20px;
			}
			ul:not(.collapsible) {
				padding-bottom: 20px;
				li {
					list-style-type: circle;
					list-style-position: inside;
				}
			}
			.collapsible {
				.collapsible-header {
					background-color: rgba(#fff, 0.4);
					border-bottom: 1px solid transparent;
				}
				.collapsible-body {
					border-bottom: none;
				}
				&>li {
					border-bottom: 1px solid rgba(#fff, 0.8);
					box-shadow: unset;
					&:last-child {
						border: none;
					}
					&.active {
						.collapsible-header {
							background-color: rgba(#fff, 0.8);
						}
						.collapsible-body {
							background-color: rgba(#fff, 0.6);
						}
					}
				}
			}
		}
		#galeria {
			padding: 50px 0px;
			background: #fff;
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px $czarny;
			}
			.arrows {
				position: relative;
				.arrow {
					display: inline-block;
					width: 50px;
					height: 50px;
					position: absolute;
					top: calc(50% - 25px);
					z-index: 2;
					cursor: pointer;
					opacity: 0.5;
					-moz-transition: all 500ms;
					-webkit-transition: all 500ms;
					transition: all 0.5s;
					background-color: #fff;
					opacity: 0.7;
					color: $czarny;
					&.arrow-left {
						left: 0px;
						border-radius: 0px 4px 4px 0px;
					}
					&.arrow-right {
						right: 0px;
						border-radius: 4px 0px 0px 4px;
					}
					&:hover {
						opacity: 1;
						color: $zloty;
					}
					i {
						display: inline-block;
						width: 40px;
						height: 40px;
						margin: 5px;
						font-size: 40px;
						line-height: 40px;
					}
				}
			}
			.gallery {
				line-height: 0px;
				text-align: center;
				a {
					display: inline-block;
					width: 33.3%;
					height: 250px;
					margin: 0px;
					padding: 0px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					position: relative;
					&::before {
						content: "";
						display: block;
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						background: rgba(#fff, 0);
						transition: all 0.5s;
					}
					&:hover {
						cursor: pointer;
						&::before {
							background: rgba(#fff, 0.4);
						}
					}
				}
			}
		}
		#kontakt {
			padding: 50px 0px;
			background: #fff;
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px $czarny;
			}
			.row.google{
				padding: 0px;
				margin: 0px;
				#google-maps {
					height: 300px;
				}
			}
			.map-control {
				margin: 0px 0px 100px 0px;
				&>div {
					position: relative;
					background: $czarny;
					color: $zloty;
					padding: 30px;
					p{
						margin: 0px;
					}
					a{
						color: $zloty;
					}
					&.choosed{
						background: $zloty;
						color: $czarny;
						a{
							color: $czarny;
						}
					}
					.show-on-map {
						cursor: pointer;
						i{
							display: inline-block;
						}
					}
				}
			}
			.form{
				margin-top: 40px;
				input:not([type="submit"]), textarea{
					display: block;
					height: 30px;
					width: 100%;
					margin: 10px 0px;
					border: 1px solid $zloty;
					padding: 10px;
					color: $czarny;
				}
				textarea{
					height: 130px;
					resize: none;
				}
				input[type="submit"]{
					border:none;
				}
			}
		}
	}
	footer{
		width: 100%;
		min-height: 200px;
		background: $czarny;
		color: $zloty;
		padding: 30px 0px;
		font-size: 13px;
		a{
			color: $zloty;
		}
		.row{
			margin: 0px;
		}
		.copyright{
			.company-name{
				display: inline-block;
				margin-left: 10px;
				font-family: 'Arabia';
				font-size: 16px;
			}
		}
		.polecaja{
			text-align: right;
			.company-name{
				display: inline-block;
				margin-left: 10px;
				font-family: 'Arabia';
				font-size: 24px;
			}
			img{
				height: 60px;
				margin-bottom: -10px;
			}
		}
	}
}