/* tmp */

// $s-min: 20;
// $s-max: 70;
// $l-min: 30;
// $l-max: 90;
// @for $i from 1 through 5 {
// 	section:nth-child(#{$i}) {
// 		background-color: hsl(random(360), $s-min+random($s-max+-$s-min), $l-min+random($l-max+-$l-min));
// 	}
// }
// section {
// 	min-height: 30vh;
// }
/* Normalize.css fix */

* {
	outline: none;
	box-sizing: border-box;
}

/* My styles */

$zloty: #dbc56e;
$czarny: #404040;
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fefefe;
}

::-webkit-scrollbar-thumb {
	background: $zloty;
}

::-webkit-scrollbar-thumb:hover {
	background: $czarny;
}

@font-face {
	font-family: 'Arabia';
	src: url('../fonts/TRArabia.ttf') format('truetype');
}

@font-face {
	font-family: 'Scriptina';
	src: url('../fonts/ScriptinaPro.otf') format('opentype');
}

body {
	overflow-x: hidden;
	.js {
		#preloader,
		.load {
			display: block;
		}
	}
	@keyframes spin {
		0%,
		100% {
			transform: translate(0);
		}
		25% {
			transform: translate(160%);
		}
		50% {
			transform: translate(160%, 160%);
		}
		75% {
			transform: translate(0, 160%);
		}
	}
	#preloader {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background: #fff;
		.load {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100px;
			height: 100px;
			hr {
				border: 0;
				margin: 0;
				width: 40%;
				height: 40%;
				position: absolute;
				border-radius: 50%;
				animation: spin 2s ease infinite;
			}
			:first-child {
				background: $czarny;
				animation-delay: -1.5s;
			}
			:nth-child(2) {
				background: $zloty;
				animation-delay: -1s;
			}
			:nth-child(3) {
				background: $czarny;
				animation-delay: -0.5s;
			}
			:last-child {
				background: $zloty;
			}
		}
	}
	#toTop {
		display: block;
		position: fixed;
		bottom: 30px;
		right: 20px;
		z-index: 99;
		border: none;
		outline: none;
		background-color: #fff;
		color: $czarny;
		cursor: pointer;
		border-radius: 4px;
		opacity: 0.2;
		transition: none;
		font-size: 0px;
		padding: 0px;
		width: 0px;
		height: 0px;
		&.show {
			opacity: 0.6;
			width: auto;
			height: auto;
			font-size: 40px;
			padding: 5px;
			transition: all 1s;
			&:hover {
				opacity: 1;
				transition: all 0.3s;
			}
		}
	}
	header {
		width: 100%;
		min-height: 100vh;
		background-image: url('../img/bg.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		nav {
			height: 160px;
			background-color: rgba(#fff, 0.75);
			transition: all 0.25s;
			&.small {
				height: 80px;
				background-color: rgba(#fff, 1);
				.brand-logo {
					img {
						height: 60px;
						margin-top: calc((80px - 60px)/2);
					}
				}
				.facebook {
					line-height: 0px;
					a {
						display: inline-block;
						margin: 5px 20px 10px 0px;
						img {
							height: 20px;
						}
					}
				}
			}
			.brand-logo {
				height: 100%;
				img {
					height: 120px;
					margin-top: calc((160px - 120px)/2);
					transition: all 0.25s;
				}
				&:hover {
					img {
						filter: contrast(120%);
					}
				}
			}
			.facebook {
				line-height: 10px;
				a {
					display: inline-block;
					margin: 20px;
					img {
						height: 50px;
						transition: all 0.25s;
					}
					&:hover {
						img {
							filter: contrast(120%);
						}
					}
				}
			}
			ul {
				li {
					padding: 0px 10px;
					a {
						color: $czarny;
						text-transform: uppercase;
						position: relative;
						font-size: 18px;
						line-height: 16px;
						padding: 8px;
						&:before {
							content: "";
							display: block;
							width: 0%;
							height: 1px;
							background-color: $czarny;
							position: absolute;
							left: 50%;
							bottom: 0px;
							transition: all 0.25s;
						}
						&.active {
							&:before {
								left: 0%;
								width: 100%;
							}
						}
					}
					&:hover {
						a {
							background-color: transparent;
							&:before {
								left: 0%;
								width: 100%;
							}
						}
					}
				}
			}
		}
		.navbar-fixed {
			height: 1px;
		}
		.header-text {
			width: 100%;
			height: calc(100vh - 1px);
			min-height: 768px;
			position: relative;
			div {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: 220px;
			}
			h1 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 3.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 2px 2px 8px $czarny;
			}
			h2:nth-of-type(1) {
				font-family: 'Scriptina';
				color: #222;
				font-size: 4.5em;
				line-height: 1.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 0px 0px 1px #222;
			}
			h2:nth-of-type(2) {
				font-family: 'Scriptina';
				color: #222;
				font-size: 4.5em;
				line-height: 1.2em;
				padding: 0px;
				margin: 0px;
				text-shadow: 0px 0px 1px #222;
			}
		}
	}
	main {
		#onas {
			padding: 50px 0px;
			background: #fff;
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
			}
			.icons {
				text-align: center;
				.icon {
					margin: 20px 0px;
					&:hover {
						div:nth-child(1) {
							img {
								filter: contrast(120%);
							}
						}
					}
					div:nth-child(1) {
						img {
							height: 80px;
							transition: all 0.25s;
						}
					}
					div:nth-child(2) {
						font-size: 1.1em;
						margin: 10px 0px;
						text-transform: uppercase;
						font-weight: 500;
					}
					div:nth-child(3) {
						color: $czarny;
						font-size: 0.9em;
						font-weight: 300;
					}
				}
			}
		}
		#oferta {
			.blackbox {
				background: rgba(#000, 0.75);
				padding: 20px 40px;
			}
			h1 {
				text-align: center;
				font-family: 'Scriptina';
				font-size: 3em;
				text-shadow: 0px 0px 1px #fff;
			}
			ul {
				li {
					list-style-type: circle;
					list-style-position: inside;
				}
			}
			.row {
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				color: #fff;
				margin: 0px;
				&:nth-child(1) {
					background-image: url('../img/bg-oferta1.jpg');
				}
				&:nth-child(2) {
					background-image: url('../img/bg-oferta2.jpg');
				}
			}
		}
		#zapraszamy {
			padding: 40px;
			margin: 0px;
			p {
				font-size: 1.2em;
				font-weight: 300;
			}
		}
		.button{
			display: inline-block;
			background-color: $zloty;
			color: $czarny;
			padding: 10px 20px;
			&:hover{
				filter: contrast(120%);
			}
		}
	}
}